@{
    ViewData["Title"] = "Welcome!";
}


<div class="text-center">
    <h1 class="display-4">Welcome to the Learning Diary App.</h1>
    <h2>Helpful app for planning your studies and staying on-time.</h2>
    <br/>
    <h5>LearningDiaryWeb allows to you to keep track of your studies and be on-time. <br/>You can add, review, edit and delete subjects.</h5>
    <br>
</div>

<div class='row'>
    <div class='column'>
        <div class='blue-column'>
            <h3><i>"With hard work and effort, you can achieve anything."<br /><br/>- Antoine Griezmann</i></h3>
        </div>
    </div>
    <div class='column'>
        <div class='green-column'>
            <h3><i>"Work and you’ll get what you need; work harder and you’ll get what you want."<br /><br />- Prabakaran Thirumalai</i></h3>
        </div>
    </div>
</div>


