@{
    ViewData["Title"] = "Welcome!";
}


<div class="text-center">
    <h1 class="display-4">Welcome to the Learning Diary App.</h1>
    <p>The best app for planning your studies and staying on-time.</p>

    </div>

